/*
this file is part of notepad++
Copyright (C)2003 Don HO ( donho@altern.org )

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either
version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
*/

#include <windows.h>
#include "resource.h"

IDD_PLUGINGOLINE_DEMO DIALOGEX 26, 41, 223, 67
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
CAPTION "Go To Line #"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "Go to line :", ID_UGO_STATIC,5,21,95,8
    EDITTEXT        ID_GOLINE_EDIT, 55,20,30,12,ES_NUMBER
    DEFPUSHBUTTON   "&Go",IDOK,100,21,70,14,BS_NOTIFY
END

//
// Unsaved Tabs Panel Dialog
//

IDD_UNSAVEDTABS_PANEL DIALOGEX 0, 0, 200, 160
STYLE DS_SETFONT | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
CAPTION "Unsaved Tabs"
FONT 8, "MS Shell Dlg"
BEGIN
	LISTBOX        IDC_UNSAVED_LIST, 7, 7, 186, 146, LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
END

//
// About Box Dialog
//
IDD_ABOUT_DIALOG DIALOGEX 0, 0, 220, 110
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Unsaved Tabs"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT   "Unsaved Tabs Plugin v0.5.0", -1, 10, 8, 200, 10
    LTEXT   "A Notepad++ plugin that lists and manages unsaved tabs.", IDC_ABOUT_TEXT, 10, 22, 200, 20
    LTEXT   "(c) 2025 Sarah Pierce", -1, 10, 46, 200, 10
    CONTROL "", IDC_DONATE_LINK, "SysLink", WS_TABSTOP, 10, 65, 200, 14
    DEFPUSHBUTTON "OK", IDOK, 85, 85, 50, 14
END

//
// Settings Dialog
//
IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 200, 100
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Unsaved Tabs Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Show Unsaved Count in Status Bar", IDC_CHK_STATUSBAR, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 10, 10, 180, 10
    CONTROL "Show Full Path in Tab List", IDC_CHK_FULLPATH, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 10, 25, 180, 10
    DEFPUSHBUTTON "OK", IDOK, 50, 70, 40, 14
    PUSHBUTTON "Cancel", IDCANCEL, 110, 70, 40, 14
END

